*{
    padding: 5px;
    margin: 5px;
    width: 100%;

}
.dflex{
    display: flex;
}

.justifybtwn{
    justify-content: space-between;
}
img{
    height: 200px;
    width: 300px    ;
}

nav{
    width: 60%;
}

header{
    background-color: lightpink;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;

} 
section{background-color: white;}
footer{
    background-color: lightpink;
}
.menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
}